body{
  background: #6C99DE;
}
form{
margin: 50px;
}
.deletebox{
  margin: 200px;
  margin-left: 400px;
  padding: 50px;
  height: 230px;
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0,0, 0, 0.60);
  width: 40%;
}
fieldset{
  width: 400px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  
  
  background: white;
}
.button{
  background: red;
  height: 38px;
  width: 70px;
  border: none;
}
.textbox{
  height: 30px;
  width: 200px;

}
